@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --brandBlack: #121212;
  --brandWhite: #FFFFFF;
  --softGray: #F5F5F7;
}


.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}


@theme inline {

  --color-brandBlack: var(--brandBlack);
  --color-brandWhite: var(--brandWhite);
  --color-softGray: var(--softGray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-brandBlack);
}
